body {
    font-family: arial;
}
div {
    padding: 10px;
}
span{
    display: none;
}
.warning{
    color:red;
}
input, textarea, select{
    height:30px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 350px;
}
select{
    width:375px;
}
textarea{
    height: 150px;
}
#submit{
    width: 100px;
    background-color: chartreuse;
}
.container{
    background-color: #EFEFEF;
    width: 400px;
}