body {
    font-family: arial;
}
div {
    padding: 10px;
    border-radius: 5px;
}                                                                                                                                                                                                                               
.warning {
    color:red;
}
input, textarea, select{
    border-radius: 5px;
    padding: 10px;
    width: 350px;
}
select{
    width:375px;
}
textarea{
    height: 150px;
}
#submit {
    width: 100px;
    position: absolute;
    right: 15px;   
}
#submit:hover {
    background-color: #000;
    color: #FFF;
}
.container{
    background-color: #EFEFEF;
    width: 400px;
}
#button-container {
    position: relative;
    height: 50px;
}