body {
    font-family: arial;
}
div {
    padding: 10px;
    border-radius: 5px;
}                                                                                                                                                                                                                               
.warning {
    color:red;
}
label{
    color: #595959;
    font-weight: bold;
}
input, textarea, select{
    border-radius: 5px;
    padding: 10px;
    width: 350px;
}
select{
    width:375px;
}
textarea{
    height: 150px;
}
#submit {
    width: 100px;
    background: #ff652f;
    color: #fff;
    border-width: 1px;
    text-shadow: 0 -1px 0 #c83400;
}
#submit:hover {
    background-color: #ff5216;
}
.container{
    background-color: #EFEFEF;
    width: 400px;
}
#button-container {
    position: relative;
    background-color: #CCC;
    color: #ff652f;
    height: 40px;
}
#button-container div {
    right: 15px;
    padding:0;
    font-weight: bold;
    position: absolute;
}